body {
    padding: 0;
    margin: 0;
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    
}

#nav_bar {
    display: flex;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    transition: background-color 0.5s;
}

.nav_btn a {
    scroll-behavior: smooth;
}


.blur {
    backdrop-filter: blur(10px);
    background-color: rgba(115, 114, 151, 0.342); /* Set a background color with alpha for transparency */
}

.border {
    border: 1px solid rgba(255, 255, 255, 0.555);
}

.links {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.links2 {
    text-decoration: none;
    color: #333;
    margin: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.664);
    width: 100vh;
}

#resume {
    color: rgb(25, 1, 245);
    font-weight: 1000;
}

.resume {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    width: 130px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.links .babu {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.5s;
}

.links .mandal {
    display: inline-block;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.links:hover .babu {
    transform: translateY(0);
}

.links:hover .mandal {
    transform: translateY(0);
}

.nav_home:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.nav_home:hover .home{
    display: none;
}

.nav_home .lal {
    display: none;
    transition: transform 0.5s;
}

.nav_home:hover .lal {
    display: inline-block; /* or any other display property you prefer */
}

/* Styles for the hamburger menu */
.hamburger_menu {
    display: none;
    cursor: pointer;
}

.nav_btn2 {
    display: none;
    position: absolute;
    top: 42px; /* Adjust as needed based on your design */
    left: 0;
    z-index: 1;
    background-color: #38382b4d;
    width: 100%;
    height: 100vh;
    
}

.nav_btn2Go {
    display: block;
    
}
hr {
    color: black;
}

.nav_btn2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav_btn2 li {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

/* Show the dropdown menu when active */

.bar {
    width: 18px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Transparent black background */
    /* z-index: 2;
} */ 

/* Styles for the cross icon when active */
.hamburger_menu.active .hamburger_menu:nth-child(1) {
    transform: rotate(-50deg) translate(-5px, 6px);
}

.hamburger_menu.active .hamburger_menu:nth-child(2) {
    opacity: 0;
}

.hamburger_menu.active .hamburger_menu:nth-child(3) {
    transform: rotate(50deg) translate(-6px, -6px);
}

@media screen and (max-width: 968px) {

    .nav_btn {
        display: none;
    }

    .hamburger_menu {
        display: block;
    }

    /* Additional styles for the menu items when the hamburger menu is active */
    .hamburger_menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger_menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger_menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #nav_bar {
        display: flex;
        width: 80%;
        height: 40px;
        border-radius: 30px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        transition: background-color 0.5s;
    }
    
    .blur {
        backdrop-filter: blur(10px);
        background-color: rgba(115, 114, 151, 0.342); /* Set a background color with alpha for transparency */
    }
    
    .border {
        border: 1px solid rgba(255, 255, 255, 0.555);
    }

    .links {
        text-decoration: none;
        color: #333;
        margin: 0 15px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    
    .links .babu {
        display: inline-block;
        transform: translateY(100%);
        transition: transform 0.5s;
    }
    
    .links .mandal {
        display: inline-block;
        transform: translateY(-100%);
        transition: transform 0.5s;
    }
    
    .links:hover .babu {
        transform: translateY(0);
    }
    
    .links:hover .mandal {
        transform: translateY(0);
    }
    
    .nav_home:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    
    .nav_home:hover .home{
        display: none;
    }
    
    .nav_home .lal {
        display: none;
        transition: transform 0.5s;
    }
    
    .nav_home:hover .lal {
        display: inline-block; /* or any other display property you prefer */
    }
}

@media screen and (max-width: 422px) {
    .nav_home .babu,
    .nav_home .lal,
    .nav_home .mandal {
        display: none;
    }
}


#home {
    background-image: url(./photo3.png);
    background-size:cover;
    background-position: center;
    height: 100vh; /* Adjust as needed based on your design */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 800;
}

.welcome1 {
    width: 50%;
    display: flex;
    height: 100vh;
}

.welcome2 {
    
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
}


.welcome2 p {
    font-size: 25px;
    width: 400px;
    color: #060918;
    line-height: 2.5rem;
}

.quotes {
    display: inline-block;
    font-size: 25px;
    overflow: hidden;
    margin-left: 40px;
    border-right: 0.1em solid #000;
    white-space: nowrap;
    animation: typewriter 3s steps(40) infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 60%;
    }
  }
  
.disco {
    color: red;
    font-size: 60px;
    width: 200px;
}
  

.name {
    display: inline-block;
    color: rgb(14, 69, 248);
    font-size: 38px;
    margin-left: 20px;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-10px);
    }
  
    60% {
      transform: translateY(-5px);
    }
  }
  

#about {
    border-bottom: 1px  solid white;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

.card_container_about {
    background-image: url('./photo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 60%;
}

.card_container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #060918;
    justify-content: center;
    align-items: left;
    height: 100vh;
    padding: 0 100px;
    width: 50%;
}

.text_con {
    display: flex;
    flex-direction: column;
    width: 65ch;
    line-height: 1.5rem;
}

.text_con h2  {
    font-size: 25px;
    color: blueviolet;
    border: 1px solid blueviolet;
    width: 150px;
    border-radius: 10px;
    padding: 6px;
}

.text_con p {
    font-size: 20px;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    line-height: 2rem;
}

#work {
    background-color: #c5bcbc;
    /* width: 100%; */
border-bottom: 1px  solid white;
    height: 100vh;
    position: relative;
    z-index: 900;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: #fff;
}

.card_container {
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding: 0 200px;
}

.project_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid black;
}

#contact {
    background-image: url('./photo-1484417894907-623942c8ee29.avif');
    /* width: 100%; */
    border-bottom: 1px  solid white;
    height: 100vh;
    position: relative;
    z-index: 900;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: #fff;
}

#services {
    background-color: #060918;
    /* width: 100%; */
    border-bottom: 1px  solid white;
    height: 100vh;
    position: relative;
    z-index: 900;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#services h1 {
    text-align: center;
    padding: 40px;
    border: 1px solid  white;
}

#logo_skill {
    width: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#space {
    height: 100vh;
    position: relative;
    top: 100vh;
    z-index: 900; border-bottom: 1px  solid white;
}



#contactForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

#sub {
    border: none;
    border-radius: 10px;
    align-items: center;
    width: 100px;
    margin-top: 20px;
    height: 25px;
    background-color: rgba(13, 13, 185, 0.829);
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

