body:not(.scrollbar-visible) {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* or use a background image */
    overflow-x: hidden; /* This hides the horizontal scrollbar */
}



/* Header  */

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

.menu {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: #333;
    padding: 15px 0;
}

.menu button {
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.menu button:hover {
    background-color: #777;
}




.menu button {
    /* Style the navigation buttons */
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

#about, #contact {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.aboutMe, .backGround {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.aboutMe{
    flex-direction: column;
    justify-content: space-around;
}

.img{
    margin-left: 50px;
}


.card1{
    margin-right: 40px;
    color: green;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card{
    margin-left: 50px;
}

.poster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

#about #downloadResumeBtn {
    background-color: #3c0ee4; /* Green background color */
    color: white; /* White text color */
    padding: 20px 30px; /* Padding around text */
    border: none; /* Remove border */
    border-radius: 5px; /* Add some border-radius for rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 17px; /* Adjust font size */
}

#about #downloadResumeBtn:hover {
    background-color: #05245e; /* Darker green color on hover */
}


#downloadResumeBtn:hover {
    background-color: #01000c; /* Darker green color on hover */
}


h2, h3, h4 {
    color: #333;
}

ul {
    list-style-type: none;
}

.project-card {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.menu button:hover, a:hover {
    background-color: #777;
}


@media (max-width: 600px) {
    /* Add styles for smaller screens */
}
