body {
    background-image: url("../assets/annie-spratt-h-LcVG8W1XY-unsplash.jpg");
    background-size:cover;
    background-position: center;
    color: white;
}

/* Navigation css */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    /* border: 2px  solid red; */
}

.nav-bar {
    display: flex;
    /* border: 2px red solid; */
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    position: fixed;
    width: 80%;
}

/* middle Section */

/* home */

#home {
    
    height: 100vh;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* position: fixed; */
    border: 2px solid green;
    margin: 20px;
    /* top: 0; */
    z-index: 800;
}


.quotes {
    display: inline-block;
    font-size: 35px;
    overflow: hidden;
    margin-left: 40px;
    border-right: 0.1em solid #000;
    white-space: nowrap;
    animation: typewriter 2s steps(5) infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: auto;
    }
  }
  
.disco {
    color: rgb(116, 14, 199);
    font-size: 20px;
    width: auto;
}
  

.name {
    display: inline-block;
    color: rgb(14, 69, 248);
    font-size: 38px;
    margin-left: 20px;
    animation: bounce 3s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-10px);
    }
  
    60% {
      transform: translateY(-5px);
    }
  }

  /* About */

  #about {
    height: 100vh;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* position: fixed; */
    border: 2px solid green;
    margin: 20px;
    /* top: 0; */
    z-index: 800;
  }

  /* skills */

  #skills {
    height: 100vh;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* position: fixed; */
    border: 2px solid green;
    margin: 20px;
    /* top: 0; */
    z-index: 800;
  }

  /* Projects */

#projects {
    height: 100vh;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* position: fixed; */
    border: 2px solid green;
    margin: 20px;
    /* top: 0; */
    z-index: 800;
}

/* Contact */

#contact {
    height: 100vh;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* position: fixed; */
    border: 2px solid green;
    margin: 20px;
    /* top: 0; */
    z-index: 800;
}


/* Footer */

#footer {
    height: 20vh;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* position: fixed; */
    border: 2px solid green;
    margin: 20px;
    /* top: 0; */
    z-index: 800;
}